h1 {
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    background: #222222;
    color: #D4D2D3;

}

h1, h3, h5 {
    font-stretch: expanded;
}

h2, h4, h6 {
    font-style: italic;
}

p, td, th, ul {
    font-family: Times, serif;
    font-weight: bold;
    border: #383838 5px solid;
    background: #0F0F0F;
    color: #818181;
}

a {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
}

p::first-letter {
    font-size: 2em;
}
