header {

    text-align: center;
    padding: 20px;
}


body {
    display: flex;
    flex-flow: row wrap;

}

@media all and (min-width: 800px) {

    footer {
        order: 4;
    }
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;

}

nav {

    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 3em;
    background: #222222;
    color: #D4D2D3;
    padding: 25px 50px 75px 100px;
    margin: 25px 50px 75px 100px;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    border-radius: 2em;
}

h1 {
    letter-spacing: 2em;
    border-radius: 3em;
}

h1, h3, h5 {
    font-stretch: expanded;
}

h2, h4, h6 {
    font-style: italic;
}

p, td, th, ul {
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    border: #383838 5px solid;
    background: #0F0F0F;
    color: #818181;
    font-size: 2em;
    text-align: center;
    align-content: center;
    justify-content: flex-start;
}

a {
    display: inline-block;
    padding: 10px;

}

a:link {
    color: #D4D2D3;
    text-decoration-style: solid;
}

a:visited {
    background: #0F0F0F;
    color: blue;
    text-decoration-style: dotted;
}

ul > li {
    border: #383838 5px solid;
    background: #0F0F0F;
    color: #818181
}

tr > th {
    background: #FFFFFF;
    color: #000000;
}


p::first-letter {
    font-size: 2em;
}
