/*a=0 b=0 c=1*/
header > p {
    background: #f58b54;
    color: black;
    text-align: center;
}

/*a=0 b=0 c=1*/
body {
    background-color: #f58b54;
    color: black;
}

/*a=0 b=0 c=1*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: black;
    color: #dfddc7;
    text-transform: uppercase;
}

/*a=0 b=0 c=1*/
h1 {
    letter-spacing: 2em;

}

/*a=0 b=0 c=1*/
h1, h3, h5 {
    font-stretch: expanded;
}

/*a=0 b=0 c=1*/
h2, h4, h6 {
    font-style: italic;
}

/*a=0 b=0 c=1*/
p, td, th, ul {
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    background-color: black;
    color: #dfddc7;
    font-size: 1.5em;

}

/*a=0 b=0 c=1*/
a {
    background-color: #f58b54;
    color: white;
}

/*a=0 b=1 c=1*/
a:link {
    background: #f58b54;
    color: black;
    text-decoration-style: solid;
}

/*a=1 b=0 c=2*/
#menu li a {
    font-family: Arial, serif;
    font-size: 23px;
    text-decoration: none;
    background: #f58b54;
    color: #dfddc7;
}

/*a=0 b=1 c=1*/
a:visited {
    background: #f58b54;
    color: black;
    text-decoration-style: dotted;
}

/*a=0 b=0 c=2*/
ul > li {
    background: #f58b54;
    color: black;
}

/*a=0 b=1 c=1*/
table {
    background: white;
    color: black;
}

/*a=0 b=0 c=2*/
tr > th {
    background: #dfddc7;
    color: black;
}

/*a=0 b=0 c=2*/
p::first-letter {
    font-size: 1.7em;
}
