/*a=0 b=0 c=1*/
footer {
    width: 100%;
}
/*a=1 b=0 c=0*/
#menu {
    padding: 0;
    align-self: flex-start;

}
/*a=1 b=0 c=1*/
#menu li {
    display: inline;
}
/*a=1 b=0 c=2*/
#menu li a {
    float: left;
    padding: 10px;
}

/*a=0 b=0 c=1*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

/*a=0 b=0 c=2*/
section > video, section > audio, section > image {
    align-self: center;
}

/*a=0 b=0 c=1*/
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    align-content: center;
    width: 100%;

}

/*a=0 b=0 c=1*/
body {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

/*a=0 b=0 c=1*/
header {
    display: flex;
    flex-flow: column wrap;

}

/*a=0 b=0 c=1*/
p, td, th, ul {
    text-align: justify;

    justify-content: flex-start;
}
